@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
i, em, span {font-style: normal;}
input, select, button, a {border: 1px solid #333; color: #333; background-color: #fff;}
.reverse {border: 1px solid #333; background-color: #333; color: #fff;}

.__flex {display: flex; flex-direction: column;}

html, body, main {height: 100%;}